<div class="menu">
    <div class="menu-head">
        <div class="admin-profile">
            <div class="profile-image logo-container">
                <!-- Replace with your logo image -->
                <img src="assets/img/logo.png" alt="Logo" class="logo-image">
            </div>
            <!-- Add admin info -->
            <div class="profile-info">
                <h3>Admin Panel</h3>
                <span class="role">Administrator</span>
            </div>
        </div>
    </div>
    <div class="menu-item">
        <!-- Dashboard Button -->
        <button mat-button class="menu-button text-white" routerLink="/dashboard">
            <mat-icon>dashboard</mat-icon>
            <span>Dashboard</span>
        </button>
    </div>
    <div class="menu-item">
        <!-- Member Button -->
        <button mat-button class="menu-button text-white" routerLink="/member">
            <mat-icon>people</mat-icon>
            <span>Member</span>
        </button>
    </div>
    <div class="menu-item">
        <!-- Add-Item Button -->
        <button mat-button class="menu-button text-white" routerLink="/add-item">
            <mat-icon>inventory</mat-icon>
            <span>Add-Item</span>
        </button>
    </div>
 <div class="menu-item">
        <!-- Add-Item Button -->
        <button mat-button class="menu-button text-white" routerLink="/panchang">
            <mat-icon>event</mat-icon>
            <span>Panchang</span>
        </button>
    </div>


</div>