<div class="menu">
    <div class="menu-head">
        <div class="admin-profile">
            <div class="profile-image logo-container">
                <!-- Replace with your logo image -->
                <img src="assets/img/logo.png" alt="Logo" class="logo-image">
            </div>
            <!-- Add admin info -->
            <div class="profile-info">
                <h3>Admin Panel</h3>
                <span class="role">Administrator</span>
            </div>
        </div>
    </div>
    <div class="menu-scroll">
        <div class="menu-item">
            <!-- Dashboard Button -->
            <button mat-button class="menu-button text-white" routerLink="/dashboard">
                <mat-icon>dashboard</mat-icon>
                <span>Dashboard</span>
            </button>
        </div>
        <div class="menu-item">
            <!-- Member Button -->
            <button mat-button class="menu-button text-white" routerLink="/member">
                <mat-icon>people</mat-icon>
                <span>Member</span>
            </button>
        </div>
        <div class="menu-item">
            <!-- Add-Item Button -->
            <button mat-button class="menu-button text-white" routerLink="/add-item">
                <mat-icon>inventory</mat-icon>
                <span>Add-Item</span>
            </button>
        </div>
     <!-- <div class="menu-item">
            Add-Item Button
            <button mat-button class="menu-button text-white" routerLink="/panchang">
                <mat-icon>event</mat-icon>
                <span>Panchang</span>
            </button>
        </div> -->

         <div class="menu-item">
            <!-- Add-Item Button -->
            <button mat-button class="menu-button text-white" routerLink="/event">
                <mat-icon>  event</mat-icon>
                <span>Event</span>
            </button>
        </div>

         <div class="menu-item">
            <!-- Add-Item Button -->
            <button mat-button class="menu-button text-white" routerLink="/chat">
                <mat-icon>chat</mat-icon>
                <span>Chat</span>
            </button>
        </div>

         <div class="menu-item">
            <!-- Add-Item Button -->
            <button mat-button class="menu-button text-white" routerLink="/kundali">
              <mat-icon>insert_chart</mat-icon>
                <span>Kundali</span>
            </button>
        </div>

         <div class="menu-item">
            <!-- Add-Item Button -->
            <button mat-button class="menu-button text-white" routerLink="/online-abhishek">
                <mat-icon>temple_hindu</mat-icon>
              
                <span>Abhiskek</span>
            </button>
        </div>

  <div class="menu-item">
            <!-- Add-Item Button -->
            <button mat-button class="menu-button text-white" routerLink="/user-management">
                <mat-icon>home</mat-icon>
              
                <span>Users</span>
            </button>
        </div>


        


          <div class="menu-item">
            <!-- Add-Item Button -->
            <button mat-button class="menu-button text-white" routerLink="/VR-Video">
                <mat-icon>video_library</mat-icon>
                <span>VR Video</span>
            </button>
        </div>
    </div>
</div>
